/* ============================================Custom Fonts================================================ */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@400;600;700&family=Source+Sans+Pro:ital,wght@1,300&display=swap");

/* 
  font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

@font-face {
  font-family: "Brown_sugar";
  src: url(/static/css/fonts/BrownSugar/Brown\ Sugar\ .ttf);
}

@font-face {
  font-family: "Bogart_Italic";
  src: url(/static/css/fonts/Bogart/Bogart-Italic-trial.ttf);
}
@font-face {
  font-family: "Bogart_Italic_trial";
  src: url(/static/css/fonts/Bogart/Bogart-Medium-Italic-trial.ttf);
}
@font-face {
  font-family: "Bogart_semibold_italic";
  src: url(/static/css/fonts/Bogart/Bogart-Semibold-Italic-trial.ttf);
}
@font-face {
  font-family: "Bogart_semibold";
  src: url(/static/css/fonts/Bogart/Bogart-Semibold-trial.ttf);
}

@font-face {
  font-family: "Demo_bd";
  src: url(/static/css/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-bd.otf);
}

@font-face {
  font-family: "Demo_lt";
  src: url(/static/css/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-lt.otf);
}
@font-face {
  font-family: "Demo_ltit";
  src: url(/static/css/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-ltit.otf);
}
@font-face {
  font-family: "Demo_reg";
  src: url(/static/css/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-reg.otf);
}
@font-face {
  font-family: "Arsenica";
  src: url(/static/css/fonts/ARsenica/ArsenicaTrial-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* =================================================Header/navbar=============================================== */

.container {
  margin: 0 auto;
  padding: 15px;
}

.navbar {
  height: 60px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.logoname {
  margin-left: 200px;
  font-size: 29px;
  font-family: Demo_bd;
  text-transform: uppercase;
}

.list {
  font-family: Poppins;
  padding-right: 142px;
  list-style: none;
  font-size: 17px;
  display: flex;
  gap: 35px;
  margin-right: 70px;
}

a:hover {
  color: rgb(189, 201, 15);
}

#toggle,
.navbar label {
  display: none;
}

@media screen and (max-width: 1312px) {
  .logoname {
    margin: 0px 0px 0px 80px;
  }
  .list {
    padding: 0px 25px 0px 0px;
  }
}
@media screen and (max-width: 800px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 25px 0px 0px;
  }
  #toggle:checked ~ .menu {
    max-height: 1000px;
  }
}
@media screen and (max-width: 360px) {
  .logoname {
    margin: 0px 0px 0px 20px;
    font-size: 21px;
  }
}

/* =====================================================Intro========================================================= */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.main {
  font-family: Demo_lt;
  padding: 111px 0px 0px 0px;
  font-size: 70px;
  font-weight: 900;
}
.position {
  font-family: Arsenica;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.based {
  font-family: Arsenica;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.buttons {
  padding: 75px 35px 35px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hyderabad {
  color: #ff0000;
}

.name img {
  width: 84px;
}

button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.github {
  background-color: black;
}
.github a {
  text-decoration: none;
  color: white;
}

.location {
  width: 70px;
}
.Download a {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 745px) {
  .position {
    display: block;
  }
  .name img {
    width: 78px;
  }
}
@media screen and (max-width: 630px) {
  .main {
    font-size: 50px;
  }
  .position,
  .based {
    display: block;
    font-size: 30px;
  }
  .location {
    width: 50px;
  }
  .name img {
    width: 68px;
  }
}
@media screen and (max-width: 342px) {
  .main {
    font-size: 30px;
  }
  .position,
  .based {
    display: block;
    font-size: 20px;
  }

  .buttons {
    display: block;
    gap: 1rem;
  }
  .location {
    width: 40px;
  }
  .name img {
    width: 58px;
  }
}
@media screen and (max-width: 196px) {
  button {
    font-size: 0.685rem;
  }
  .location {
    width: 30px;
  }
  .name img {
    width: 48px;
  }
}

/* ==================================================================================================== */

.heading {
  font-family: Poppins;
  font-size: 42px;
  padding: 165px 0px 0px 159px;
}
