<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/Collaborate.css" />
    <link rel="shortcut icon" href="/static/css/Icons/logo.svg" />

    <title>Collaborate</title>
  </head>
  <body>
    <!-- ==========================================branding======================================================== -->
    <navb class="branding">
      <div class="left">Available For Freelance</div>
      <div class="middle">SAI KALYAN</div>
      <div class="right">India</div>
    </navb>
    <!-- ===================================================Title============================================== -->
    <main class="title">
      <div><h1>Let's Work</h1></div>
      <div><h1>Together</h1></div>
      <div class="mail">Mail me----</div>
      <div class="mail1">kalyan9700128@gmail.com</div>
    </main>

    <!-- =============================================footer================================================== -->
    <main class="footer">
      <div class="leftfooter">&copy; SAI KALYAN</div>
      <div class="rightfooter">Made By Kalyan</div>
    </main>
  </body>
</html>
