<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/static//css/main.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>bsaikalyan</title>
</head>

<body>
  <!-- ====================================================header============================================= -->
  <nav class="navbar Container">
    <a href="Index.html" class="logoname">Sai Kalyan</a>
    <input type="checkbox" name="" id="toggle" />
    <label for="toggle">
      <i class="fa fa-bars"></i>
    </label>
    <div class="menu">
      <ul class="list">
        <li><a href="">Work</a></li>
        <li><a href="">Services</a></li>
        <li><a href="Collaborate.html">Collaborate</a></li>
      </ul>
    </div>
  </nav>

  <!-- ==========================================================Into========================================== -->
  <main class="intro">
    <div class="main">
      <h2 class="name">I'm Kalyan,<img src="/static/css/Images/man.png" alt="profile"> a </h2>
      <div class="position">
        <h2>Service provider</h2>
      </div>
      <div class="based">
        <h2>
          based in
          <img src="/static/css/Icons/icons8-location-64.png" alt="location" class="location">
          <span class="hyderabad"> Hyderabad </span></i>
        </h2>
      </div>
      <div class="buttons">
        <button class="Download"><a href="/static/css/Files/Resume.pdf" target="_blank">Download Now</a></button>
        <button class="github">
          <a href="https://github.com/Saikalyan11?tab=repositories" target="_blank">Github!</a>
        </button>
      </div>
    </div>
  </main>

  <!-- ==========================================About Me================================================ -->
  <section class="AboutSection">

    <div class="heading">About me</div>
    <div class="total">
      <div class="info">
        <p> Welcome to my website.After seeing the above intro as Service Provider, you may be thinking
          what all I do as a Service Provider,I work on Fullstack Web-Development, Flutter App development.
          I'm a third-year BTech student at K L University in Hyderabad. I'm a certified google cloud digital leader.
          I keep an eye on each Tech, and if a situation calls for my involvement,
          I dive in and start to learn how beginner swimmers develop their skills, More importantly with perfection to
          every work. Due to my passion, I picked up a few talents, like front-end development, cloud computing, and app
          development.</p>
      </div>
      <div class="laptop">
        <img src="/static/css/Images/Laptop.jpg" alt="laptop">
      </div>
    </div> 
    <div class="total1">
      <div class="laptop1">
        <img src="/static/css/Images/keyboard.jpg" alt="laptop">
        
      </div>
      <div class="info1">
        <p> And I wanted to help people with my skills. And This website would be a great example to show myskills</p>
      </div>
    </div>
  </section>
<!-- ================================================Services=================================================== -->\
<Section class="Services">

</Section>
</body>
</html>