<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/static//css/main.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>bsaikalyan</title>
  <link rel="shortcut icon" href="/static/css/Icons/logo.svg" >
</head> 

<body>
  <!-- ====================================================header============================================================================= -->
  <nav class="navbar Container">
    <a href="/" class="logoname">Sai Kalyan</a>
    <input type="checkbox" name="" id="toggle" />
    <label for="toggle">
      <i class="fa fa-bars"></i>
    </label>
    <div class="menu">
      <ul class="list">
        <li><a href="https://github.com/Saikalyan11?tab=repositories" target="_blank">Work</a></li>
        <li><a href="/Services" target="_blank">Services</a></li>
        <li><a href="/Collaborate" target="_blank">Collaborate</a></li>
      </ul>
    </div>
  </nav>

  <!-- ==========================================================Intro============================================================================= -->
  <main class="intro">
    <div class="main">
      <h2 class="name">I'm Kalyan,<img src="/static/css/Images/man.png" alt="profile"> a </h2>
      <div class="position">
        <h2>Web and App Developer</h2>
      </div>
      <div class="based">
        <h2>
          based in
          <img src="/static/css/Icons/icons8-location-64.png" alt="location" class="location">
          <span class="hyderabad"> Hyderabad </span></i>
        </h2>
      </div>
      <div class="buttons">
        <button class="Download"><a href="/static/css/Files/Resume.pdf" target="_blank">Resume CV</a></button>
        <button class="github">
          <a href="https://github.com/Saikalyan11?tab=repositories" target="_blank">Github!</a>
        </button>
      </div>
    </div>
  </main>

  <!-- ==========================================About Me============================================================================= -->
  <section class="AboutSection">

    <div class="heading">About me</div>
    <div class="total">
      <div class="info">
        <p> 
          I design web applications using <b>HTML, CSS, and Flask, a Python framework</b>, and 
          I've lately started using <b>Java</b> as the backend for web projects.
          I can design mobile apps for Android and iOS utilising FLutter and Firebase as the backend.

          I've created myself with a solid grasp of <b>fundamental programming</b> and construction projects. 
          Additionally, I learned a lot of this through Java, which I used to build few features for the backend while still learning the fundamentals of DSA.

          My first Java project is a <b>products management system</b> where we can <b>search items, add items, show items</b>, and more.

        </p>
      </div>
      <div class="laptop">
        <img src="/static/css/Images/Laptop.jpg" alt="laptop">
      </div>
    </div> 
    <div class="total1">
      <div class="laptop1">
        <img src="/static/css/Images/keyboard.jpg" alt="laptop">
        
      </div>
      <div class="info1">
        <p>I wanted to use my <b>abilities</b> as a freelancer to assist. And an excellent example to give them is this website.
        </p>
      </div>
    </div>
  </section>
<!-- ================================================Work============================================================================== -->

<div class="headingWork" id="work">Work - <span>Check Out my Github for more</span></div>

<!-- ========================================================Card Cokkie======================================================================================= -->
        <Section class="Services">
        <div class="boundary">
          <div class="image"><img src="/static/css/Images/Work/CardCokkie clone.png" alt="CardCokkieclone">
            </div>
        </div>
        <div class="side">
          <div class="matterheading">
            Gift cards
          </div>
          <div class="highlights">Cloning / Design / Development</div>
          <div class="matter">
            A website where you may get discounted gift cards. Profit from this and buy unwanted gift cards and 
            vouchers at reduced prices from other people. Pay less than you would have if you had used a discount
             store credit card. We provide the biggest discounts on the market. Browse the various cheap gift cards
              for today's top retailers that we have listed below. It's never been easier to purchase inexpensive 
              gift cards while saving money!


          </div>
        </div>
        </Section>

<!-- =============================================================Mobile application======================================================================= -->

        <Section class="Services">

          <div class="boundary">
            <div class="image">
              <video controls>
              <source src="/static/css/Images/Work/video_2023-05-30_11-28-03.mp4" type="video/mp4">
            </video></div>
        </div>
        <div class="side">
          <div class="matterheading">
            A Job Search Application
          </div>
          <div class="highlights">Design / Development</div>
          <div class="matter">A programme that can be used to hunt for employment and submit applications for them at a business.
            This programme performs and appears to be a demo of the complete product. The application's login and registration pages are also fully responsive.


          </div>
        </div>
        </div>
        </Section>

<!-- ============================================Himalayarestro====================================================================== -->
        <Section class="Services">

          
            <div class="boundary">
              <div class="image"><img src="/static/css/Images/Work/Himalayarestro.png" alt="Himalayarestro"></div>
        </div>
        <div class="side">
          <div class="matterheading">
            A Restaurant Web App
          </div>
          <div class="highlights">Design / Development</div>
          <div class="matter">
            On this restaurant's website, you may view pictures of the interior and, if you'd like, make a reservation for a table.

          </div>

        </div>
        </div>
        </Section>

<!-- ===============================================Services===================================================================== -->

    <Section class="Impression">
      <div class="leftsideheading">Impression</div>
      <div class="rightsideheading">
<!-- ===========================================================year================================================================================== -->
        <div class="year">Year <div id="year">2023</div></div>
        <hr />
<!-- ===========================================================Service================================================================================== -->

        <div class="Service">Services<div id="service">Branding, App and Web design.</div></div>
        <hr />
<!-- ===========================================================Intro================================================================================== -->

        <div class="Intro">Intro<div id="Intro">Hello Fellas, Here I'm who can Design web,Android and IOS applications with a professional looking Design.</div></div>
        <hr />
      </div>
    </Section>

<!-- /* ================================================================Contact=========================================================================== */ -->
  <div class="contactheader">Email me @</div>    
  <main class="contact">
        <div class="leftcontact">
          <h1>kalyan9700128@gmail.com
          </h1>
        </div>
        <div class="rightcontact">
          <div class="links">
              <a href="https://www.instagram.com/_kalyan_.11/" target="_blank" class="insta">Instagram</a>

              <hr>
            
              <a href="https://www.linkedin.com/in/b-sai-kalyan-a14816221/" target="_blank" class="Link">LinkedIn</a>
            
          
        </div>
      </main>
      
  </body>

<footer>&copy;  SAI KALYAN</footer>
</html>
