<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static//css/main.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>bsaikalyan</title>
  </head>
  <body>
    <!-- ====================================================header============================================= -->
    <nav class="navbar Container">
      <a href="" class="logoname">Sai Kalyan</a>
      <input type="checkbox" name="" id="toggle" />
      <label for="toggle">
        <i class="fa fa-bars"></i>
      </label>
      <div class="menu">
        <ul class="list">
          <li><a href="">Work</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Collaborate</a></li>
        </ul>
      </div>
    </nav>

    <!-- ==========================================================Into========================================== -->
    <main class="intro">
      <div class="main">
        <h2>I'm Kalyan, a</h2>
        <div class="position"><h2>Developer</h2></div>
        <div class="based">
          <h2>
            based in
            <i class="fa-sharp fa-solid fa-location-dot"
              ><span class="hyderabad"> Hyderbad </span></i
            >
          </h2>
        </div>
        <div class="buttons">
          <button class="Download">Download CV</button>
          <button class="github">
            <a
              href="https://github.com/Saikalyan11?tab=repositories"
              target="_blank"
              >Github!</a
            >
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
