<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/css/Icons/logo.svg" />
    <link rel="stylesheet" href="/static/css/Service.css" />
    <title>My Service</title>
  </head>
  <body>
    <header>
      <div class="logo">SAI KALYAN</div>
    </header>
    <main>
      <div class="matter">
        <div class="servicematter">
          Greetings from the service section. There are three categories of
          services listed here: basic, intermediate, and advanced:
        </div>
        <ul>
          <li>
            <div class="Basic">
              Inside the category or basic tier You will receive a
              straightforward website with 3 to 4 pages, of which 2 are
              responsive pages.
            </div>
          </li>
          <li>
            <div class="Intermediate">
              In the Intermediate tier or Category, you will receive a website
              with roughly 7 to 9 pages, 6 of which will be responsive, designed
              according to the client's preferences.
            </div>
          </li>
          <li>
            <div class="Advanced">
              Located in the Advanced tier or Category You will receive a
              website that was designed according to the client's preferences
              and with the pages determined by the client's payment. websites
              will all have responsive designs.
            </div>
          </li>
        </ul>
      </div>
      <div class="fullimages1">
        <img
          src="/static/css/Images/Services/Articles.svg"
          alt="Articles"
          class="image1"
        />
        <img
          src="/static/css/Images/Services/Business.svg"
          alt="Business"
          class="image1"
        />
        <img
          src="/static/css/Images/Services/Code snippet.svg"
          alt="Code snippet"
          class="image1"
        />
      </div>
      <div class="fullimages2">
        <img
          src="/static/css/Images/Services/experience_design.svg"
          alt="experience_design"
          class="image2"
        />
        <img
          src="/static/css/Images/Services/static website.svg"
          alt="learning"
          class="image2"
        />
      </div>
    </main>
  </body>
</html>
